{% extends 'accounts/Main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md">
		<div class="card card-body">

            <H2> Are you sure you want to delete "{{item}}"</H2>
            <form  action="{% url 'Delete_order' item.id %}" method="POST">
                {% csrf_token %}

                    <input class="btn btn-outline-danger  btn-sm btn-block" type="submit" value=" Delete">
                    <a class="btn btn-outline-warning  btn-sm btn-block" href="{% url 'home' %}">Cancel</a>
        </div>
	</div>
</div>

{% endblock %}