{% extends 'accounts/Main.html' %}
{% load static %}
{% block content %}
  <div class="row">
	<div class="col-md">
		<div class="card card-body">

            <form method="post" action="">
                {% csrf_token  %}
                {% for form in Order_form  %}
                    {{ Order_form.management_form }}
                        {{ form }}
                         <hr>
                {% endfor %}
                <input class="btn btn-sm btn-info"  type="submit" name="Submit" value="Update">
            </form>
        </div>
    </div>
  </div>

{% endblock %}






